@layer base {
  @font-face {
    font-family: "some_font";
    src: url("./assets/fonts/proxima-nova/proximanova-regular-webfont.woff2")
        format("woff2"),
      url("./assets/fonts/proxima-nova/proximanova-regular-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

.App {
  text-align: center;
  @apply bg-main_bg w-full;
}

.app__wrapper {
  @apply mx-auto min-h-screen relative;
  @apply 2xl:max-w-screen-xl xl:max-w-screen-lg px-8;
  @apply text-white bg-main_bg;
}

.app__footer {
  @apply fixed bottom-0 left-0 right-0 z-10 bg-main_bg;
}

.dapp_link {
  @apply text-red-600;
}

.app__content {
  @apply pb-36;
}
